body
{
background-size: cover;
}

div{
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    border-style: dashed;
    border-radius: 10;
}

copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:rgb(183, 166, 235);
    line-height: 3;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

canvas{
    border-style:groove;
    box-shadow: rgb(241, 255, 165);
    border-radius: 15px;
    margin-left: 0.2%;
}
